.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  max-width: 150px;

  color: var(--Black-800, #454545);

  /* Body/10px-regular */
  font-family: var(--font-inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px; /* 130% */
}

.state {
  font-weight: 600;
}

.percentage {
  color: #05b43a;
}
