.axisValues {
  text-anchor: end;
  font-family: var(--font-inter);
  fill: var(--Black-500, #6d6d6d);
  /* Body/12px-semibold */
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  cursor: default;
}
