.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #2c3e50;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navList {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navlink{
    color: white;
    text-decoration: none;
  }
  